.navbar-logo {
    height: 100%;  
    max-height: 60px;
    width: auto;
    border-radius: 50%;
}

#NavBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Este valor asegura que el Navbar esté por encima de otros elementos */
}

